/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


html {
    display: flex;
    justify-content: center;
}
body {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 79px;
   
    padding: 0 50px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    }


#logo {
    width: 61.09px;
    height: 19px;

    width: Hug (161.09px)px;
    height: Hug (79px)px;
    padding: 20px 1px 20px 1px;
    gap: 10px;

display: flex;
justify-content: flex-start;  
}

.hebergements {
    width: 90%;


    margin-left: 50px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

nav ul li :hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 22px;
}

.headline {
  margin-left: 50px;
  padding-bottom: 20px;
}

h1 {
font-size: 22px;
margin: 0;

margin-bottom: 15px;
}


p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    text-underline-position: from-font;
}

form { 
    display: flex;
    margin-left: 50px;
    padding-bottom: 20px;

    width: 377px;
    height: 49px;
    border-radius: 15px 0px 0px 0px;
    border: 1px 0px 0px 0px;
}

fieldset {
    width: 50px;
    height: 49px;
    gap: 0px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    opacity: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #F2F2F2;

    margin: 0;
}

#vector {
   width: 14px;
    height: 18px;
}

#ville {
    width: 177px;
    height: 62px;
    border: 1px solid #F2F2F2;
    padding-left: 35px; 
    margin: none;
}

#submit {
    width: Hug (132px)px;
    height: 65px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px 0px 0px 0px;

    background: #0065FC;
    color: #FFFFFF;
    font-size: 18px;
 
    border: 1px solid #0065FC
}

#submit .search-img {
    display: none;
}

#submit #submit-text {
    display: inline; 
}

.filtres {
    display: flex;
    align-items: center;  
    gap: 10px;           

    padding-left: 50px;
}


.conteneur {
    display: flex;             
    gap: 15px;                
    flex-wrap: wrap;           
}


.box {
    display: flex;            
    align-items: center;       
    justify-content: flex-start;
    text-align: left;         
    gap: 8px;                  
    padding: 10px;              
    border-radius: 25px;       
    border: 2px solid #D9D9D9;  
    width: auto;              
    margin: 5px;              
}

.box img {
    width: 22px;               
    height: 22px;             
}


.Filtres {
    font-size: 17px;           
    font-weight: 700;          
    line-height: 19.96px;                   
}


.conteneur .box:hover {
    background: #DEEBFF;
}



.info {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.icone-info {
    width: 24px; 
    height: 24px; 
    border-radius: 50%;
    border: 1px solid #D9D9D9;

    display: flex;
    justify-content: center;
    align-items: center;  
}


.icone {
    display: flex; 
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    
}


a {
    color: inherit;
    text-decoration: none;
}

a :hover {
    text-decoration: underline;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    margin-right: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

h3 {
    font-size: 22px;
    margin-left: 20px;
}

.hebergements {
    width: 70%;
    height: 10%;

}

.hebergements .card-h {
    height: 95%;
    width: 90%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 5px;
}

.hebergements .cards {
    width: 30%;
    height: 207.25px;
    padding: 0px 0px 15px 0px;
    gap: 4px;
    border-radius: 20px 0px 0px 0px;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.hebergements .card-h img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    }

.hebergements .cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.hebergements .cards-container a {
    width:30% 
}


.hebergements .card-title {
    margin-top: 1px;
    padding-left: 2px;
    margin-left: 1px;

}

.hebergements .card-subtitle {
    margin: 5px;
    margin-left: 2px;
    margin-top: -4px;
}

.hebergements .card-rating {
    padding-left: 2px;
    padding-bottom: 5px;
    
}

.hebergements .Afficher-plus {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 30%;
}

.logopop {
    margin-right: 20px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.populaires-cards {
    width: 85%;
    margin-top: -20px;
    margin-left: 20px;
    margin-bottom: 5%;
}


.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.populaires-cards img {
    width: 30%;
    height: 136px;
    margin: 4px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
h5 {
    font-size: 22px;
    margin-left: 50px;
    margin-bottom: 15px;
}

h6.card-title {
    margin-top: 10px;
    margin-left: 10px;
}

.Activités .cards-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 60px;
    
}

.Activités .cards-container a {
    width: 22%;
}

.Activités .card {
width: 100%;
height: 435px;
border-radius: 20px 20px 20px 20px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Activités img {
width: 100%;
height: 380px;
border-radius: 20px 20px 0px 0px;
}

/**** Footer ****/
footer {
    height: 150px;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
    
background: #F2F2F2;
    
}

.colonnes {
    display: flex;
    justify-content: space-between;
}

.colonnes ul {
    list-style-type: none;
    margin-right: 90px;
}

.colonnes ul :hover {
    text-decoration: underline;
}

.colonnes ul li {
    margin-bottom: 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

    .hebergements {
        width: 90%;
        top: 16px;
    
    }
    
    nav ul {
        display: flex;
        gap: 20px;
        list-style-type: none;
    }
    
    .hebergements ul li :hover {
        color: #0065FC;
        border-top: 2px solid #0065FC;
        padding-top: 22px;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements .cards-container {
        display: flex;
        justify-content: center;
        gap: 20px
       
    }

    .hebergements .card-h {
    width: 251px;
    height: 206px;
    padding: 5px 5px 5px 5px;
    gap: 4px;
    border-radius: 20px 20px 20px 20px;
    }
    
    .hebergements .card-content {
        gap: 10px;
    }

    .card-h img {
        width: 250px;
    }

    h2.card-title {
        padding: 5px;
        margin: -3px;
    }

    p.card-subtitle{
        padding: 3px;
       
    }


    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 90%;
    }

    .populaires {
        width: 90%;
        height: 40%;
        margin-top: 50px;
        margin-left: 55px;
    }


    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 40px;
        width: 95%;
        
    }

    .populaires-cards a {
        width: 95%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activités ***********/
    
    .Activités {
       justify-content: center;
        
    }

    .Activités h5 {
        margin-left: 60px;
    }
    
    .Activités .card {
        width: 193.5px;
        height: 265px;
        border-radius: 20px 20px 20px 20px;
    }

    .Activités .cards-container {
        display: flex;
        align-content: center;
        padding: 30px;
        margin-bottom: -30px;
        gap: 45px;

    }
    
    .Activités img {
    width: 193.5px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    }

    .card-title {
        text-align: center;
        text-align: left;
    }

    .Activités .card-title {
        display: flex;
        justify-content: flex-start;

    }

    /**** Footer ****/

    .colonnes {
        background: #F2F2F2;
    }
    
    .colonnes ul {
        width: 288px;
        padding: 0px 0px 0px 15px;
        
    }


    .colonnes ul :hover {
        text-decoration: underline;
    }

}



/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {

    header {
    width: 768px;
    height: 115px;

    display: flex;
    flex-direction: column;
    }

    header #logo {
        width: 121.09px;
        height: 79px;
        padding: 30px 0px 0px 0px;
       
        margin-left: 255px;
    }
    
    header nav {
        width: 678px;
    }

    header nav ul {
     display: flex;
     justify-content: space-around;

     margin-right: 70px;
    }

    #submit {
    width: 65px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 10px 0px  rgba(0.3, 0, 0, 0.3)

    }
    
    #submit #submit-text {
        display: none; 
    }

    #submit .search-img {
        display: inline;
    }  

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;

        border: none;
    }
   
    section.populaires {
        width: 769px;
        height: auto;
        margin: auto;
        border-radius: 0%;

    }
    
    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 718px;
        height: 160px;
        border-radius: 20px;
    }

    .populaires-cards .card img {
        width: 112px;
        height: 155px;
        border-radius: 20px 0px 0px 20px;
        

        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2px;
    }

    section #Hébergements  {
        width: 769px;
        margin: auto;
        background-color: white;
    }


    .hebergements div.cards-container {
        display: flex;
        flex-direction: column;
        margin-left: -30px;
    }

    .hebergements div.cards-container .card-h {
        width: 715px;
        height: 240px;
        border-radius: 20px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .hebergements div.cards-container .card-h img {
        width: 100%;     
        height: 150px;    
        object-fit: cover;
    }


    .Activités {
        display: flex;
        flex-direction: column;
        margin-top: -40px;
     }
 
    .Activités .cards-container {
        display: flex;
        flex-direction: column;
     }

    .Activités .cards-container .card {
        width: 715px;
        height: 250px;
        border-radius: 20px;
        
     }

     .Activités .cards-container .card img {
        width: 715px;
        height: 80%;
     }
     
     .Activités .cards-container .card-title {
        margin-left: 20px;
     }

    .colonnes {
        display: flex;
        flex-direction: column;
        width: 769px;
        height: auto;
       
        margin-left: -30px;
     }

     .colonnes ul {
        margin-left: 30px;
        margin-top: 40px;

        display: flex;
        flex-direction: column;
      
    }

        

}

