/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

header {
    width: 100%;
    height: 79px;
   
    padding: 0 50px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    }


#logo {
    width: 61.09px;
    height: 19px;

    width: Hug (161.09px)px;
    height: Hug (79px)px;
    padding: 20px 1px 20px 1px;
    gap: 10px;

display: flex;
justify-content: flex-start;  
}

.hebergements {
    width: 20px;
    top: 16px;

    margin-left: 50px;
    margin-right: 15px;


}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

nav ul li :hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 22px;
}

.headline {
  margin-left: 50px;
  padding-bottom: 20px;
}

h1 {
font-size: 22px;
margin: 0;

margin-bottom: 15px;
}


p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    text-underline-position: from-font;
    margin: 0; 
}

form { 
    display: flex;
    margin-left: 50px;
    padding-bottom: 20px;

    width: 377px;
    height: 49px;
    border-radius: 15px 0px 0px 0px;
    border: 1px 0px 0px 0px;
}

fieldset {
    width: 50px;
    height: 49px;
    gap: 0px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    opacity: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #F2F2F2;

    margin: 0;
}

#vector {
   width: 14px;
    height: 18px;
}

#ville {
    width: 177px;
    height: 62px;
    border: 1px solid #F2F2F2;
    padding-left: 35px; 
    margin: none;
}

#submit {
    width: Hug (132px)px;
    height: 65px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

    background: #0065FC;
    color: #FFFFFF;
    font-size: 18px;
 
    border: 1px solid #0065FC
}

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    margin-left: 50px;
    margin-top: 25px;
}

.conteneur img {
    width: 22px;
height: 22px;

padding-left: 1px;
padding-right: 10px;

position: relative;
top: 3px;
right: 5px;
}

.conteneur div {
    width: Hug (173px)px;
    height: Fixed (50px)px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    border-radius: 25px;
    border: 2px 0px 0px 0px;
    
    font-family: Raleway;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;
    text-align: left;


    border: 2px solid #D9D9D9;
}

.conteneur .box:hover {
    background: #DEEBFF;
}

.Filtres {
margin-bottom: 25px;

position: relative;
bottom: 2px;
}

.info {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 50px;
    
}


.icone {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}


a {
    color: inherit;
    text-decoration: none;
}

a :hover {
    text-decoration: underline;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

h3 {
    font-size: 22px;
    margin: 0;
    
    margin-bottom: 15px;
}


.hebergements {
    width: 65%;
    
}

.cards {
    width: Fill (250.33px)px;
    height: Hug (207.25px)px;
    padding: 0px 0px 15px 0px;
    gap: 4px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.card img {

width: 250.33px;
height: 124px;
gap: 0px;
border-radius: 20px 20px 0px 0px;
border: 5px 0px 0px 0px, solid #FFFFFF;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

padding-left: 25px;
padding-top: 30px;
}

.card-title {
    padding-left: 10px;
}

.card-subtitle {
    padding-left: 10px;
    padding-bottom: 10px;
}

.card-rating {
    padding-left: 10px;
    padding-bottom: 5px;
}

.Afficher-plus {
font-size: 18px;
padding-top: 30px;
padding-left: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 350px;

    margin-right: 40px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
h5 {
    font-size: 22px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.Activités {
    margin-left: 50px;
}

.Activités .card {
    width: 300px;
height: 380px;
border-radius: 20px 20px 0px 0px;

}

.Activités img {
    width: 300px;
height: 380px;
gap: 0px;
border-radius: 20px 20px 0px 0px;
opacity: 0px;

}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}